body {
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar .nav-item .nav-link {
  font-size: 14px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
}

.navbar .nav-item .nav-link.active {
  border-left: 3px solid #444;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../assets/image1.jpg') center / cover no-repeat;
}

.carousel-image-2 {
  background: url('../assets/image2.jpg') center / cover no-repeat;
}

.carousel-image-3 {
  background: url('../assets/image3.jpg') center / cover no-repeat;
}

#home-heading {
  background: url('../assets/lights.jpg') center / cover no-repeat;
  background-attachment: fixed;
  color: #fff;
  min-height: 200px;
  position: relative;
  text-align: center;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#video-play {
  background: url('../assets/media.jpg');
  background-position: 0 -300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  min-height: 200px;
  position: relative;
  text-align: center;
}

#video-play a {
  color: #fff
}

#page-header {
  background: url('../assets/image1.jpg');
  background-attachment: fixed;
  background-position: 0 -300px;
  border-bottom: 1px solid #eee;
  color: #fff;
  height: 200px;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .accordion-item {
  border: 1px solid #444;
}

#faq .accordion-collapse,
#faq .accordion-header {
  background-color: #333;
}

#faq .accordion-button {
  background-color: inherit;
  color: #fff;
}


@media screen and (max-width: 768px) {
  #services .card {
    margin-bottom: 15px;
  }

  #faq .accordion {
    margin-bottom: 15px;
  }

  #blog .post {
    margin-bottom: 15px;
  }
}
