#main-header img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (min-width: 1199px) {
  #main-header .port-item {
    padding: 4.3em !important;
  }
}
