html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: hsl(250, 100%, 94%);
  line-height: 1.4;
  margin: 0;
  padding: 20px;
}

img {
  box-shadow: 0px 0px 3px 1px #bbe;
  max-height: 9rem;
  max-width: 100%;
  width: 100%;
}

a {
  height: 100%;
  left: 0;
  margin-top: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

h3 {
  margin: 10px 0;
}

p {
  padding: 0 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 15px;
  place-content: center;
}

.project {
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0px hsla(238, 48%, 26%, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.project-description {
  background-color: hsl(240, 5%, 90%);
  height: 100%;
  width: 100%;
}
